# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.iml
build/asset-manifest.json build/favicon.ico build/index.html build/manifest.json build/precache-manifest.c5b65df4a560aa0c0a9daa074e643e31.js build/service-worker.js build/static
deploy/build/asset-manifest.json deploy/build/favicon.ico deploy/build/index.html deploy/build/manifest.json deploy/build/precache-manifest.c5b65df4a560aa0c0a9daa074e643e31.js deploy/build/service-worker.js deploy/build/static
deploy/build
.idea
